@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 26px;
  border: 4px solid #fcfcfc66;
  box-shadow: 0 4px 12px 0 #2d34401a;
  background-clip: padding-box;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.button.loading {
  cursor: wait;
  pointer-events: none;
  padding-right: 56px;
}

.button.loading::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  content: "";
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 2px solid rgba(36, 36, 36, 0.2);
  border-top-color: #242424;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.button:hover {
  background-color: #fcfcfc66;
  border: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px 0 #85858526;
}

.button:focus:not(:active) {
  background-color: #fcfcfc80;
  border: 2px solid #2d3440;
  outline: none;
}

.button:active {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
}

.button:disabled {
  color: #b9b9b9;
  background-color: #e7e7e7;
  border: 4px solid #fcfcfc66;
}

.button-primary {
  color: #fcfcfc;
  background-color: #ff2f64;
  border: 4px solid #ff2f644d;
}

.button-primary:hover {
  color: #2d3440;
  background-color: #fcfcfc4d;
  border: 4px solid #ff2f64;
}

.button-primary:focus:not(:active) {
  background-color: #ff2f64;
  color: #fcfcfc;
  border: 2px solid #2d3440;
  outline: none;
}

.button-primary:active {
  background-color: #feafc3;
  color: #fcfcfc;
  border: 2px solid #2d3440;
}

.button-primary:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  border: 4px solid #b9b9b94d;
}

.button-primary.loading::after {
  border: 2px solid #fcfcfc80;
  border-top-color: #fcfcfc;
}

/* Pages */

.page-header {
  padding: 24px 0;
}

.navigation {
  display: flex;
  align-items: center;
  line-height: 20px;
  width: 1170px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 153px;
}

.navigation-list {
  display: flex;
  align-items: center;
  width: 422px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-user {
  max-width: 431px;
  margin-left: auto;
  font-size: 14px;
  justify-content: flex-end;
}

.navigation-link {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 8px 16px;
  color: #2d3440;
  text-decoration: none;
  border-radius: 16px;
}

.navigation-link-catalog {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navigation-icon {
  fill: #2d3440;
}

.header-phone {
  font-weight: 700;
  text-wrap: nowrap;
  color: #2d3440;
  text-decoration: none;
}

.header-phone:hover {
  opacity: 0.6;
}

.header-phone:active {
  opacity: 0.3;
}

.navigation-user .navigation-link {
  margin-left: 16px;
  padding: 6px 16px;
  background-color: #fcfcfc4d;
}

.navigation-link:hover {
  background-color: #fcfcfc80;
}

.navigation-link:focus:not(:active) {
  background-color: #fcfcfc80;
  outline: 2px solid #2d3440;
}

.navigation-link:active {
  background-color: #fcfcfc;
}

.navigation-link.popover-active {
  background-color: #ff4a78;
  color: #fcfcfc;
  fill: #fcfcfc;
}

.navigation-link.popover-active svg {
  fill: #fcfcfc;
}

.navigation-user .search {
  min-width: 32px;
  min-height: 32px;
  padding: 9px;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Section */

section {
  margin-bottom: 80px;
}

.section-title {
  margin: 0 0 56px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.article-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* Best Offers */

.best-offers {
  position: relative;
}

.best-offers .section-title {
  margin-bottom: 24px;
  text-align: left;
  font-size: 36px;
}

.best-offers-description {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slide {
  display: none;
  align-items: center;
}

body:has(#slider1:checked) .first-slide {
  display: flex;
}

body:has(#slider2:checked) .second-slide {
  display: flex;
}

body:has(#slider3:checked) .third-slide {
  display: flex;
}

.slide-content {
  margin-right: 28px;
  padding-left: 70px;
  width: 429px;
}

.slider-controll {
  margin-right: 57px;
  position: relative;
  padding: 21px 20px 26px;
}

.slide-image-wrapper {
  display: flex;
  align-items: center;
}

.slider-controll::before {
  position: absolute;
  content: "";
  display: block;
  width: 312px;
  height: 312px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
}

.first-slide .slider-controll::before {
  background-color: #ffcbd8;
}

.second-slide .slider-controll::before {
  background-color: #9fc8ff;
}

.third-slide .slider-controll::before {
  background-color: #fcdc92;
}

.slide-img {
  position: relative;
  z-index: 1;
}

.slider-arrows {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
  background-color: #fcfcfc4d;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  top: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}

.slider-arrows-button {
  border: none;
  background-color: transparent;
}

.slider-arrows:hover {
  background-color: #fcfcfc;
}

.slider-arrows-button:focus:not(:active) {
  outline: none;
}

.slider-arrows-button:focus:not(:active) .slider-arrows {
  background-color: #fcfcfc4d;
  border: 2px solid #2d3440;
}

.slider-arrows-button:active .slider-arrows {
  background-color: #fcfcfc80;
  border: none;
}

.slider-arrows-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #fcfcfc;
}

.slider-arrows:hover svg,
.slider-arrows-button:active svg,
.slider-arrows-button:focus svg {
  fill: #2d3440;
}

.prev {
  left: 42px;
}

.next {
  right: 0;
}

.preview {
  display: flex;
  gap: 75px;
}

.preview-img-wrapper {
  position: relative;
}

.preview-img-wrapper::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-slide .preview-img-wrapper::before {
  background-color: #ffcbd8;
}

.second-slide .preview-img-wrapper::before {
  background-color: #9fc8ff;
}

.third-slide .preview-img-wrapper::before {
  background-color: #fcdc92;
}

.preview-img {
  position: relative;
  z-index: 1;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social-link {
  position: relative;
  display: block;
  min-width: 24px;
  min-height: 24px;
  border-color: #fcfcfc4d;
  border-radius: 16px;
}

.social-link svg {
  fill: #fcfcfc;
}

.social-link:hover,
.social-link:focus:not(:active) {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #2d3440;
  border-radius: 16px;
}

.social-link:focus:not(:active) {
  outline: none;
}

.social-link:focus:not(:active) svg {
  border: 2px solid #2d3440;
  border-radius: 16px;
}

.slider-social {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slide-control label {
  cursor: pointer;
}

.slider-button {
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #fcfcfc4d;
  border: 1px solid #fcfcfc4d;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: none;
}

.slider-button:hover {
  border: 1px solid #fcfcfc;
}

.slider-button:focus.button:focus:not(:active) {
  border: 1px solid #2d3440;
  outline: none;
}

input[type="radio"] {
  display: none;
}

#slider1:checked ~ header,
#slider1:checked ~ main,
#slider1:checked ~ footer {
  background-color: #feafc3;
}

#slider2:checked ~ header,
#slider2:checked ~ main,
#slider2:checked ~ footer {
  background-color: #69a9ff;
}

#slider3:checked ~ header,
#slider3:checked ~ main,
#slider3:checked ~ footer {
  background-color: #fcc850;
}

body:has(#slider1:checked) .button-slide1 {
  background-color: #fcfcfc;
}

body:has(#slider2:checked) .button-slide2 {
  background-color: #fcfcfc;
}

body:has(#slider3:checked) .button-slide3 {
  background-color: #fcfcfc;
}

/* Offer present */

.offer-present-cards {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offer-present-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  width: 570px;
  padding: 36px 217px 36px 36px;
  border-radius: 16px;
  box-sizing: border-box;
  background-size: 194px auto;
  background-repeat: no-repeat;
  background-position: right 15px top 27px;
  background-color: #ff7799;
}

.offer-present-card p {
  margin: 0;
}

.offer-present-card:first-child {
  background-image: url("../image/background/present-one.png");
}

.offer-present-card:last-child {
  background-image: url("../image/background/present-two.png");
}

/* Product-list */

.most-popular .section-title {
  margin-bottom: 107px;
}

/* Advantages */

.advantages {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background-image: url("../image/background/advantages.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.advantages-wrapper {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #565c66;
  display: grid;
  grid-template-columns: repeat(2, 506px);
  gap: 32px 40px;
}

.advantages-item {
  position: relative;
  padding-left: 64px;
  text-align: left;
}

.advantages-item::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item:first-child::before {
  background-image: url("../image/svg/ice-cream.svg");
}

.advantages-item:nth-child(2)::before {
  background-image: url("../image/svg/cow.svg");
}

.advantages-item:nth-child(3)::before {
  background-image: url("../image/svg/leaf.svg");
}

.advantages-item:last-child::before {
  background-image: url("../image/svg/thermometer.svg");
}

/* Information */

.information {
  display: flex;
  justify-content: space-between;
}

.article {
  box-sizing: border-box;
  width: 570px;
  border-radius: 16px;
}

.blog {
  padding: 32px 235px 67px 32px;
  background-image: url("../image/background/blog.png");
  background-size: 640px auto;
  background-position: right -70px top -95px;
  background-repeat: no-repeat;
}

.blog-description {
  margin-bottom: 12px;
  line-height: 20px;
  color: #565c66;
}

.subscribe {
  padding: 6px;
  background-image: url("../image/background/subscribe.png");
  background-repeat: no-repeat;
}

.subscribe-wrapper {
  padding: 26px;
  background-color: #ffffff;
  border-radius: 16px;
}

.subscribe-description {
  margin: 0 0 42px;
  color: #565c66;
}

.subscribe-form {
  width: 100%;
  display: flex;
  gap: 14px;
}

.form-input {
  box-sizing: border-box;
  padding: 14px 16px;
  line-height: 20px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.form-input:hover {
  border: 1px solid #2d3440;
}

.form-input:focus:not(:active) {
  border: 2px solid #2d3440;
}

.form-input-error {
  border: 1px solid #ea5454;
}

.form-input-error:hover {
  border: 2px solid #ea5454;
}

.form-input:disabled {
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
  opacity: 0.65;
}

.form-input::placeholder {
  color: #b9b9b9;
}

.subscribe-form label {
  flex-grow: 1;
}

.subscribe-form .form-input {
  width: 100%;
}

/* Delivery */

.delivery {
  display: flex;
  justify-content: space-between;
  padding: 64px 64px 64px 100px;
  border-radius: 16px;
  background-color: #f8f8f8;
  background-image: url("../image/background/delivery.png");
  background-size: 90%;
  background-position: top 25% right;
  background-repeat: no-repeat;
}

.delivery .section-title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-description-wrapper {
  width: 371px;
}

.delivery-description {
  margin: 0;
  color: #565c66;
}

.delivery-form-wrapper {
  box-sizing: border-box;
  width: 500px;
  padding: 40px 40px 42px;
  box-shadow: 0 15px 40px 0 #2d34401f;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.delivery-form-wrapper .delivery-description {
  margin-bottom: 32px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 16px 20px;
}

.delivery-form-label {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 20px;
}

.delivery-form .form-input {
  width: 100%;
  box-sizing: border-box;
}

.delivery-filed-group {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.delivery-form-address {
  grid-column: 1/-1;
}

.delivery-submit {
  margin-top: 12px;
  grid-column: 1/-1;
  justify-self: center;
}

.info {
  margin-left: 4px;
  border: none;
  padding: 0;
  width: 14px;
  height: 14px;
  background-image: url("../image/svg/info.svg");
}

/* Contact */

.contact {
  margin-bottom: 48px;
  padding: 64px;
  border-radius: 16px;
  background-image: url("../image/background/contact.jpg");
  background-size: 85%;
}

.contact-wrapper {
  width: 343px;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 16px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px 0 #2d34401f;
}

.contact p {
  color: #565c66;
}

.contact-address {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
}

.contact-tel {
  font-style: normal;
}

.contact-schedule {
  font-size: 14px;
  line-height: 20px;
}

/* Footer */

.footer {
  font-size: 14px;
  line-height: 20px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.footer-nav-list {
  width: 356px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-nav-item {
  padding-left: 24px;
  color: #2d3440;
  text-wrap: nowrap;
}

.footer-nav-item-active {
  font-weight: 700;
  background-image: url("../image/svg/heart-fill.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.footer-nav-link {
  text-decoration: none;
  color: #2d3440;
}

.footer-developer-description {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  font-size: 14px;
  color: #2d3440;
}

/* Catalog */

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 32px 0 16px;
  padding: 0;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  list-style-type: none;
}

.breadcrumbs + .section-title {
  margin-bottom: 40px;
  text-align: left;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  cursor: pointer;
}

.breadcrumbs-item::after {
  position: absolute;
  content: url("../image/svg/chevrons-right.svg");
  top: 2px;
  right: -20px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

/* Filter */

.catalog-filter-form {
  margin-bottom: 95px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 8px;
  margin-left: 16px;
  font-size: 14px;
}

.catalog-filter-group:first-child .filter-field-wrapper {
  border: 2px solid transparent;
}

.catalog-filter-group:first-child .filter-field-wrapper:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalog-filter-group:first-child .filter-field-wrapper:focus-within {
  box-sizing: border-box;
  border: 2px solid #fcfcfc;
}

.select-control {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.select-control:focus {
  outline: none;
}

.range-input-wrapper {
  display: flex;
  align-items: baseline;
}

.ruble {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-input {
  border: none;
  padding: 0;
  background-color: transparent;
  pointer-events: none;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.filter-field-wrapper.range {
  padding: 19px 16px 17px;
}

.range-scale {
  position: relative;
  height: 2px;
  width: 164px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  padding: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
  top: -7px;
}

.toggle-min {
  left: -7px;
}

.toggle-max {
  right: -7px;
}

.range-toggle:hover {
  background: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:focus {
  background: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;
}

.range-toggle:active {
  background-color: #2d3440;
}

.filter-field-wrapper {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-list {
  margin: 0;
  padding: 10px 24px;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.control:hover .control-mark {
  background-image: url("/image/svg/notchechedHover.svg");
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control-mark {
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("/image/svg/notchecked.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("/image/svg/checkbox.svg");
}

.control:hover .control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("/image/svg/checked.svg");
}

.control-label {
  font-size: 14px;
  line-height: 20px;
}

.control-input[type="radio"] + .control-mark {
  background-image: url("/image/svg/state=default\,\ checked=false.svg");
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url("/image/svg/state=default\,\ checked=true.svg");
}

.control:hover .control-input[type="radio"] + .control-mark {
  background-image: url("/image/svg/state=hover\,\ checked=false.svg");
}

.control:hover .control-input[type="radio"]:checked + .control-mark {
  background-image: url("/image/svg/state=hover\,\ checked=true.svg");
}

.filter-submit {
  margin-left: -8px;
  align-self: flex-end;
  font-size: 14px;
  padding: 8px 53px;
  border-width: 2px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
}

.filter-submit:hover {
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc4d;
}

.filter-submit:focus:not(:active) {
  border: 2px solid #2d3440;
}

.filter-submit:active {
  background: #fcfcfc80;
  border: none;
}

/* Card */

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.product-card {
  position: relative;
  padding: 133px 40px 24px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.product-card-image {
  position: absolute;
  left: 50%;
  top: -51px;
  transform: translateX(-50%);
}

.product-card-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
}

.product-card-title,
.product-card-price {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
}

.product-card-description {
  margin: 0;
  color: #565c66;
}

.price-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.cart-button {
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 50%;
  border: none;
  position: relative;
}

.cart-button:hover {
  background-color: #fcfcfc4d;
  border: 2px solid #ff2f64;
}

.cart-button:focus:not(:active) {
  background-color: #ff2f64;
  border: 2px solid #2d3440;
}

.cart-button:active {
  background: #ffcbd8;
  border: 2px solid #ff2f64;
}

.cart-button:disabled {
  pointer-events: none;
  background-color: #b9b9b9;
  border: none;
}

.cart-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #fcfcfc;
}

.cart-button:hover svg,
.cart-button:active svg {
  fill: #2d3440;
}

.cart-button:disabled svg {
  fill: #565c66;
}

/* Pagination */

.pagination-wrapper {
  position: relative;
  padding: 41px 0;
  display: flex;
}

.pagination {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  text-align: center;
  min-width: 24px;
  min-height: 24px;
  color: #2d3440;
  text-decoration: none;
  line-height: 24px;
  border-radius: 16px;
}

.pagination-link:hover {
  background-color: #fcfcfc80;
}

.pagination-link:focus:not(:active) {
  background-color: #fcfcfc4d;
  border: 1px solid #2d3440;
  outline: none;
}

.pagination-link:active {
  background-color: #fcfcfc80;
  border: 1px solid #fcfcfc;
}

.pagination-current {
  background-color: #fcfcfc;
}

.pagination-prev,
.pagination-next {
  position: relative;
}

.pagination-prev {
  background-image: url("../image/svg/arrow-left.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-next {
  background-image: url("../image/svg/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-show-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Popover */

.popover {
  width: 138px;
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  z-index: 3;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px 0 #2d34401f;
}

/* Popover cart */

.popover-cart {
  top: 40px;
  right: 0;
  width: 441px;
  padding: 48px;
  font-size: 18px;
  font-weight: 700;
}

.popover-active + .popover {
  display: block;
}

.popover-cart.popover-cart-empty {
  width: 288px;
  padding: 48px 0;
}

.popover-cart-empty-description {
  display: none;
}

.popover-cart-empty .popover-cart-empty-description {
  display: block;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.popover-cart-empty .popover-content {
  display: none;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.cart-items-list {
  margin-bottom: 32px;
  padding: 0;
  padding-bottom: 32px;
  list-style-type: none;
  border-bottom: 1px solid #e7e7e7;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item-title {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  line-height: 22px;
  flex-grow: 1;
}

.cart-item-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #b9b9b9;
}

.cart-item-button {
  width: 16px;
  height: 16px;
  margin-left: 52px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("/image/svg/cross.svg");
}

.cart-sum-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Popover catalog */

.popover-catalog {
  padding: 8px 0;
  top: 40px;
  left: 0;
}

.popover-catalog-list {
  padding: 0;
  list-style-type: none;
}

.popover-catalog-link {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  padding: 6px 16px;
  color: #2d3440;
  text-decoration: none;
  font-size: 14px;
}

.popover-catalog-link.popover-catalog-current {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.popover-catalog-link:hover {
  background-color: #ffcbd8;
}

.popover-catalog:active {
  background-color: #ff7799;
}

.popover-catalog-title {
  font-weight: 700;
}

.divider {
  margin: 3px 16px 4px;
  height: 1px;
  background-color: #b9b9b9;
}

/* Popover search */

.popover-search {
  top: 40px;
  right: 0;
  width: 356px;
  padding: 24px 16px;
}

.search-clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url("/image/svg/cross.svg");
  opacity: 0.4;
  cursor: pointer;
}

.search-clear:hover {
  opacity: 1;
}

/* Popover login */

.popover-login {
  top: 40px;
  right: 0;
  padding: 48px 48px 52px;
  width: 420px;
}

.popover-login .subscribe-form {
  flex-direction: column;
}

.popover-login-button-wrapper {
  margin-top: 16px;
  display: flex;
  gap: 23px;
  align-items: center;
}

.popover-login-link {
  color: #2d3440;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
}

.popover-login-link:hover {
  opacity: 0.6;
}

.popover-login-link:first-child {
  display: inline-block;
  margin-bottom: 4px;
}

/* Modal */

.modal-container {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 64px 66px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 #2d34401f;
}

.modal-review {
  width: 442px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url("/image/svg/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-content {
  margin-bottom: 0;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.modal-review-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-review-form .form-input {
  width: 100%;
}

.modal-review-form textarea {
  margin-bottom: 16px;
  appearance: none;
  color: #2d3440;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  resize: none;
  height: 149px;
}

.modal-review-form .form-input::placeholder {
  color: #b9b9b9;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.textarea-label {
  width: 100%;
}

.modal-review-form .button {
  align-self: flex-end;
}
